@import '_input';
@import '_modal-error';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(146, 218, 222);
  background: linear-gradient(
    90deg,
    rgba(146, 218, 222, 1) 20%,
    rgba(191, 178, 210, 1) 94%
  );
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  color: #fff;
  text-align: center;
}

.set-location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location,
.temp {
  // height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  &-icon {
    width: 200px;
    height: 200px;
  }
}
.temp {
  flex-direction: column;
  &-block {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    & span {
      margin: 5px;
      font-size: 1.5rem;
      position: relative;
      z-index: 1;
      &::after {
        content: '0';
        font-size: 1rem;
        position: absolute;
        padding: 2px 2px;
      }
    }
    & h2 {
      font-size: 2.2rem;
    }
  }
  &-descr {
    text-transform: uppercase;
  }
}

.hide {
  display: none;
}

@media (max-width: 505px) {
  .set-location {
    flex-direction: column;
  }
  .location {
    flex-direction: column;
  }
}
